.book-list-container {
    display: flex;
    flex-wrap: wrap;
}

.books-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
}

.book-title-div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

